@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .blue-button {
    @apply flex items-center justify-center w-64 p-3 px-4 rounded-2xl bg-slate-100 text-blue-900 text-2xl font-light
    hover:bg-white hover:text-blue-800 hover:shadow-lg transition-all ease-out cursor-pointer;
  }
  .login-textbox {
    @apply p-3 text-sm mb-3 bg-gray-200 rounded-md shadow-sm
  }
  .register-textbox {
    @apply p-3 text-sm mb-3 bg-gray-200 rounded-md shadow-sm
  }
  .reset-textbox {
    @apply p-3 text-sm mb-3 bg-gray-200 rounded-md shadow-sm
  }
  .signup-textbox {
    @apply p-3 text-sm mb-3 bg-gray-200 rounded-md shadow-sm min-w-full
  }
  .background-animate {
    background-size: 400%;
    -webkit-animation: BGAnimate 25s ease infinite;
    -moz-animation: BGAnimate 25s ease infinite;
    animation: BGAnimate 25s ease infinite;
  }

  @keyframes BGAnimate {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    25% {
      background-position: 50% 100%;
    }
  }

}
